@model IEnumerable<ViewsPart1.Exercises.RouteConfig>

@{
    string word = Request.QueryString["word"];
    string count = Request.QueryString["count"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Echo</title>
    <link href="~/styles.css" rel="stylesheet" />
    <style>
        li {
            list-style-type: none;
        }
    </style>
</head>
<body>
    
</body>
</html>
