
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FizzBuzz</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Exercise 1: FizzBuzz!</h1>
    @for (int i = 1; i <=100; i++)
    {
        if (i % 3 == 0 && i % 5 == 0)
        {

            <p style="color:purple;font-size:x-large; margin:0px;padding:0px">FizzBuzz!</p>
        
        }
        else if (i % 3 == 0)
        {

           <p style="color:blue;margin:0px;padding:0px">Fizz!</p>

        }
        else if (i % 5 == 0)
        {

            <p style="color:red;margin:0px;padding:0px">Buzz!</p>

        }
        else
        {
            <p style="margin:0px;padding:0px">@i</p>


}

    }
</body>
</html>
