@using FormsWithHttpPost.Models
@model List<Review>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img style="height: 200px; width: 150px" src="~/Content/forDummies.png" />
<h2>All Reviews</h2>
<body>
<table class="table"> @*table class not working in CSS*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @for (int i = 1; i <= item.Rating; i++)
                {
                    <img src="~/Content/star.png" />
                }
                <br />
                @item.Title

            </td>
            <td>
                By @item.Username @item.ReviewDate.ToString() <br />
            </td>
            <td>
                @item.Message
            </td>

        </tr>
    }
</table>
</body>