@model GetExercises.Web.Models.CustSearchModel

@{
    ViewBag.Title = "Customer";
}

<h2>Index</h2>

@using (Html.BeginForm("SearchResult", "Customer", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sort Customer</h4>
        <hr />
        <p>Name Sort By:</p>
        @Html.TextBoxFor(m => m.FirstOrLastName, new { placeholder = "enter a first or last name" })
        <select name="Sort By">
            <option value="LastName">Last Name</option>
            <option value="Email">Email</option>
            <option value="Active">Active</option>
        </select>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>