@model FormsWithHttpPost.Models.Review
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Received! </h2>

<p> @Html.ActionLink("Back To Reviews", "Index", "Home")</p>