@model List<SSGeek.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<section>


        @foreach (var product in Model)
        {
           <a href="@Url.Action("Detail", "Store", new { id = product.ProductId })">
               <img src="@Url.Content("~/Content/img/" + product.ImageName)" /></a>
        
                @product.Name
                @product.Price.ToString("C")
                
        
    }

    </section>

