@model List<SSGeek.Models.Product>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

@*<div>
        <img src="@Url.Content("~/Content/img/" + Model.ImageName)" />
        <div>
            <p>@Model.Name</p>
            <p >@Model.Price.ToString("C")</p>
            <p>@Model.Description</p>
            </div>
    </div>*@